body {
    background-image: linear-gradient(#E4E4F2, #8c90d8);
    font-family: sans-serif;
}

header {
    padding: 20px;
    background-color:#BF9075;
    border-bottom: 5px solid #30348C;
    font-size: 35px;
    color: #30348C;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
}

#titulo {
    font-size: 50px;
    text-align: center;
    color:#30348C;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
}

.texto { 
    font-size: 35px;
    text-align: justify;
    color: #6568A6;
}

#imagem {
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    border: 10px double #30348C;
    border-radius: 25px;
}

.foto {
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px; 
    border: 0.5rem solid #BF9075;
    border-radius: 24px;  
}

.listas {
    background-color: #D9CEC1;
    text-align: center;
    font-size: 25px;
    color: #A67C63;
}

.lista1 {
    list-style-position: inside;
}

.lista2 {
    list-style: none;
}

.itens-lista {
    display: inline-block;
    padding: 50px;
}